:root {
    margin: 0;
    padding: 0;

    --background: #121212;
    --background_2: #343434;
    --theme: #E2A300;
    --text: #D1D1D1;
}

header {
    height: 4rem;
    background-image: url("../imgs/banner.png");
    background-size: cover;
    background-position: center;
}

body {
    width: 100vw;
    font-family: Tahoma, sans-serif;
    margin: 0;
    background-color: var(--background);
    color: var(--text);
    overflow-x: hidden;
}

main {
    width: calc(100% - 2rem);
    padding: 0 1rem;
}

nav {
    background-color: var(--background_2);
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: .5rem 0;
}

button {
    cursor: pointer;
}

button svg {
    height: 100%;
}

nav a {
    font-size: 1.5rem;
}

h1, h2, h3, p, a, li, ul {
    margin: .5rem 0;
    padding: 0;
}

h1, .camera_title {
    text-align: center;
    text-decoration: solid underline;
}

h1 {
    font-size: 1.7rem;
}

/*----------------------------- STREAM AND MESSAGE CENTER ----------------------------- */

#stream {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 95vw;
}

.stream_header {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
}

.stream_header button {
    position: absolute;
    top: 0;
    right: .5rem;
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    height: 1rem;
}

.video_stream {
    width: 30%;
    height: fit-content;
    background-color: var(--background_2);
    border-radius: 1rem;
}


.video_stream video {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 4/3;
}


#message_center {
    padding: 0 1rem;
    border-radius: 1rem;
    align-self: center;
}



/*-------------------------------------------- DATA SECTION --------------------------------------------*/

#data_monitoring {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

#battery_data, #motor_data, #servo_data {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.battery, .motor, .servo {
    background-color: var(--background_2);
    padding: 0 1rem;
    border: solid 2px darkgoldenrod;
    border-radius: .5rem;
    height: fit-content;
}
.battery h2, .motor h2, .servo h2 {
    text-decoration: solid underline;
}

.motor {
    border: solid 2px blue;
}

.servo {
    border: solid 2px green;
}