:root {
    margin: 0;
    padding: 0;

    --background: #121212;
    --background_2: #343434;
    --theme: #E2A300;
    --text: #D1D1D1;
    --header_height: 4rem;
}

header {
    height: var(--header_height);
    background-image: url("../imgs/banner.png");
    background-size: cover;
    background-position: center;
    padding: 0 2rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

header > * {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    font-family: Tahoma, sans-serif;
    margin: 0;
    background-color: var(--background);
    color: var(--text);
    overflow-x: hidden;
}

main {
    width: 100dvw;
    top: var(--header_height);
    margin: .5rem 0;
}

main[hidden] {
    z-index: -1;
}

nav {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: .5rem 0;
}
nav button {
    font-weight: bold;
    border-radius: .5rem;
    aspect-ratio: 2.5/1;
    min-width: fit-content;
    font-size: 1rem;
}

nav button.active-tab {
    background-color: var(--theme);
}


button {
    cursor: pointer;
}

button svg {
    height: 100%;
}

nav a {
    font-size: 1.5rem;
}

h1, h2, h3, p, a, li, ul {
    margin: .5rem 0;
    padding: 0;
}

h1, .camera_title {
    text-align: center;
    text-decoration: solid underline;
}

h1 {
    font-size: 1.7rem;
}
/*--------------------------------------------- HEADER AREA --------------------------------------------- */

#power_button {
    background-color: white;
    border: none;
    border-radius: 10rem;
    aspect-ratio: 1;
}

/*-------------------------------------------------- STREAM -------------------------------------------------- */

#stream {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 95dvw;
}

.stream_header {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
}

.video_stream {
    width: 40%;
    height: fit-content;
    background-color: var(--background_2);
    border-radius: 1rem;
}

.stream_container {
    width: 100%;
    aspect-ratio: 4/3;
}

.stream_container img {
    width: 100%;
    height: 100%;
    border-radius: 0 0 1rem 1rem;
}

#battery_data {
    flex-direction: column;
    max-height: 100%;
}

/*-------------------------------------------- MESSAGE CENTER --------------------------------------------*/
#notification_center {
    width: 100%;
    max-width: 100dvw;
    padding: 0 3rem;
    display: flex;
    gap: .5rem;
}

#notification_center p {
    width: fit-content;
    padding: .5rem 1rem;
    border: solid 2px;
    border-radius: .5rem;
    text-shadow: var(--background) 1px 1px;
}

.warning { background-color: darkgoldenrod;}
.alert { background-color: red }

/*-------------------------------------------- DATA SECTION --------------------------------------------*/

#data_dialog {
    position: absolute;
    top: var(--header_height);
    left: 0;
    background-color: var(--background);
}

#data_monitoring {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

#battery_data, #motor_data, #servo_data {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.battery, .motor, .servo {
    background-color: var(--background_2);
    padding: 0 1rem;
    border: solid 2px var(--text);
    border-radius: .5rem;
    height: fit-content;
}
.battery h2, .motor h2, .servo h2 {
    text-decoration: solid underline;
}

.motor {
    border: solid 2px blue;
}

.servo {
    border: solid 2px green;
}

/* Data Charts */
#data_charts {
    margin-top: 1rem;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.chart_container {
    text-align: center;
    width: calc(33% - 4rem);
    aspect-ratio: 16/9;
}

/*------------------------------------------------------ LOG ------------------------------------------------------*/

#log_main {}

.log_message {
    position: relative;
    cursor: pointer;
    padding: 2px 1rem;
    transition: 130ms;
    font-size: 1.1rem;
}
.log_message.marked { background-color: var(--background_2); }
.log_message:hover { background-color: var(--background_2); }

.highlight_indicator {
    font-weight: bold;
    color: var(--theme);
    opacity: 0;
}
.log_message.marked > .highlight_indicator { opacity: 1; }
.log_message:hover > .highlight_indicator { opacity: 1 }

.log_comment {
    position: absolute;
    top: 0;
    right: 2rem;
    width: 25%;
    height: 100%;
}

.log_comment input {
    width: 100%;
    background-color: transparent;
    border: solid 1px var(--text);
    border-radius: 5px;
    color: var(--text);
    font-size: 1.07rem;
}