<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/imgs/favicon.ico">
    <title>AUV Control Panel</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="../static/js/charts.js"></script>
    <script src="../static/js/index.js"></script>
</head>

<header>
    <nav>
        <button id="stream_tag" class="active-tab" onclick="switchTab(0)">Stream</button>
        <button id="data_tag" onclick="switchTab(1)">Data Monitoring</button>
        <button id="log_tag" onclick="switchTab(2)">Log</button>
    </nav>
    <button id="power_button" onclick="power()">
        <img id="power_svg" src="../static/imgs/svg_icons/power-off.svg" alt="Power OFF">
    </button>
</header>

<body>
<span id="example_chart_size"></span>
<!------------------------------------- MULTIPURPOSE DIALOG ------------------------------------->
<dialog id="dialog">
    <div id="dialog_content">
    </div>
</dialog>

<!---------------------------------------------- STREAM TAB ---------------------------------------------->
    <main class="active" id="stream_main" hidden>
            <div id="stream">
                <div class="video_stream">
                    <div class="stream_header">
                        <h2 class="camera_title">Regular View</h2>
                    </div>
                    <hr>
                    <div class="stream_container">
                        <img id="camera_feed_1" src="../static/imgs/svg_icons/disconnected.svg" alt="Regular Stream">
                    </div>
                </div>

                <div class="data_container" id="battery_data"></div>

                <div class="video_stream">
                    <div class="stream_header">
                        <h2 class="camera_title">Depth Sensor</h2>
                    </div>
                    <hr>
                    <div class="stream_container">
                        <img id="camera_feed_2" src="../static/imgs/depth_ex.jpg" alt="Depth Sensor">
                    </div>
                </div>
            </div>

        <!--                Messages inserted from JS    -->
        <div id="notification_center">
            <p>AUV Powered ON</p>
            <p class="warning">Battery 1 Low</p>
            <p class="warning">Battery 2 Low</p>
            <p class="alert">Motor 3 Unresponsive</p>
        </div>
    </main>

<!------------------------------------------------- DATA TAB ------------------------------------------------->
    <main id="data_main">
        <section>
            <h1>Data Monitoring</h1>
            <div id="data_monitoring">
                <!--            4 batteries(voltage:float | amps: int)  |  8 Motors(pwm: int)  |  3 Servos(pwm: int)     -->
                <div class="data_container" id="motor_data"></div>
                <div class="data_container" id="servo_data"></div>
            </div>
        </section>

        <section>
            <h1>Data Charts</h1>
            <div id="chart_controls">
                <button onclick="toggleDialog('clear_charts')">Clear Charts</button>
                <button onclick="saveCharts()">Save Charts</button>
            </div>
            <div id="data_charts">
                <div class="chart_container">
                    <div id="battery_voltage"></div>
                </div>

                <div class="chart_container">
                    <div id="battery_amp"></div>
                </div>

                <div class="chart_container">
                    <div id="motor_pwm"></div>
                </div>

                <div class="chart_container">
                    <div id="servo_pwm"></div>
                </div>
            </div>
        </section>
    </main>


<!-------------------------------------------------- LOG TAB -------------------------------------------------->
    <main id="log_main" hidden>
        <p class="log_message marked" onclick="highlight_message(this)">
            March 27, 04:30pm | AUV Powered ON
            <span class="highlight_indicator">•</span>
            <label class="log_comment">
                <input type="text" placeholder="Comment Area">
            </label>
        </p>

        <p class="log_message" onclick="highlight_message(this)">
            March 27, 04:35pm | Battery 1 Low
            <span class="highlight_indicator">•</span>
            <label class="log_comment">
                <input type="text" placeholder="Comment Area">
            </label>
        </p>

        <p class="log_message" onclick="highlight_message(this)">
            March 27, 04:36pm | Battery 2 Low
            <span class="highlight_indicator">•</span>
            <label class="log_comment">
                <input type="text" placeholder="Comment Area">
            </label>
        </p>

        <p class="log_message" onclick="highlight_message(this)">
            March 27, 04:51pm | Motor 3 Unresponsive
            <span class="highlight_indicator">•</span>
            <label class="log_comment">
                <input type="text" placeholder="Comment Area">
            </label>
        </p>

    </main>
</body>
</html>