<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AUV Control Panel</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/index.js"></script>
</head>

<body>

</body>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">×</a>
        <a href="#" onclick="openTab('Camera')">Camera</a>
        <a href="#" onclick="openTab('Data')">Data</a>
        <a href="#" onclick="openTab('Settings')">Settings</a>
    </div>

    <main>
        <button class="tab-button" onclick="toggleNav()">☰ Open Sidebar</button>

        <h2 onclick="test_webcam()">Camera Feeds</h2>
        <div id="stream">
            <div class="video_stream">
                <h3>Camera 0</h3>
                <video id="camera_feed_1" src="" autoplay></video>
            </div>
            <div class="video_stream">
                <h3>Camera 1</h3>
                <video id="camera_feed_2" src="" autoplay></video>
            </div>
        </div>

        <div id="Data" class="tab-content">
            <h2>Data Monitoring</h2>
            <div>
                <h3>Voltage & Current Monitoring</h3>
                <p>Content...</p>
            </div>
            <div>
                <h3>Orientation</h3>
                <p>Content...</p>
            </div>
            <div>
                <h3>Motor View</h3>
                <p>Content...</p>
            </div>
            <div>
                <h3>Temperature Monitoring</h3>
                <p>Content...</p>
            </div>
        </div>


    </main>
</html>